body {
	--color1: rgb(255, 204, 51);
	--color2: hsl(0, 0%, 20%);
	--road-line: hsl(0, 0%, 90%);
	--ground-1: hsl(0, 0%, 50%);
	--target-color: hsla(45, 90%, 50%, 0.8);
	--target-color-blink: hsla(45, 90%, 50%, 0.1);
	background: var(--color2);
}

.flex-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.scale {
	transform-origin: top left;
}
