body {
	--body-color: hsl(9, 100%, 50%);
	--wheel-color: hsl(0, 0%, 20%);
}

.car {
	--body-width: 100px;
	--body-height: 200px;
	position: absolute;
	top: 0;
	left: 0;
	width: var(--body-width);
	height: var(--body-height);
	transform: translate(var(--t-x), var(--t-y)) rotate(var(--t-r));
}

.car:focus {
	outline: none;
}

.transition {
	transition: all linear 0.1s;
}

.car-body {
	background: var(--body-color);
	width: var(--body-width);
	height: var(--body-height);
	border-top-left-radius: 30%;
	border-top-right-radius: 30%;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	position: absolute;
}

.wheel {
	background: var(--wheel-color);
	width: 20px;
	height: 50px;
	border-radius: 5px;
	position: absolute;
	transform-origin: 50% 50%;
}

.w-front {
	top: 35px;
	transform: rotate(var(--wheel-angle));
}
.w-back {
	bottom: 15px;
}
.w-left {
	left: -10px;
}
.w-right {
	right: -10px;
}

/* testing */
.point {
	width: 1px;
	height: 1px;
	background: #fff;
	position: absolute;
}
.axis {
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	position: absolute;
}
