body {
	/* Make sure to update display height variable in Dummy Car component and ParkingSlots component*/
	--display-height: 150px;
}
.display {
	height: var(--display-height);
	position: absolute;
	left: 20px;
	top: calc(0px - var(--display-height));
	color: var(--road-line);
}
.score-display {
	font-weight: 400;
	font-size: 5em;
	margin: 0;
}
