.dummy-car-container {
	position: absolute;
	width: 120em;
	height: 200em;
	top: 0;
	left: 0;
}

.dummy-car-body {
	position: absolute;
	--c1: hsl(0, 75%, 50%);
	--c2: hsl(50, 75%, 50%);
	--c3: hsl(100, 55%, 50%);
	--c4: hsl(175, 45%, 50%);
	--c5: hsl(200, 75%, 50%);
	--c6: hsl(250, 45%, 30%);
	--c7: hsl(277, 55%, 50%);
	--c8: hsl(370, 85%, 50%);
	--c9: hsl(350, 0%, 70%);
	--c10: hsl(350, 0%, 30%);
	--c11: hsl(0, 0%, 10%);
	--c0: hsl(0, 0%, 90%);

	background: var(--c9);
	width: 100em;
	height: 200em;
	border-top-left-radius: 30%;
	border-top-right-radius: 30%;
	border-bottom-left-radius: 20em;
	border-bottom-right-radius: 20em;
}

.dummy-car-wheels {
	background: var(--wheel-color);
	width: 120em;
	height: 50em;
	border-radius: 5em;
	position: absolute;
}

.d-c-top {
	top: 35em;
}

.d-c-bottom {
	bottom: 15em;
}
