.instruction-container {
	position: absolute;
	right: 20px;
	top: 45%;
	color: var(--road-line);
	font-size: 3em;
	flex-direction: column;
}

/* keys */
@media (max-width: 700px) {
}

.i-text-big {
	margin: 0;
	padding: 0;
	font-size: 1.75em;
	margin-right: 20px;
}
.i-text {
	margin: 0;
	padding: 0;
	font-weight: 600;
	font-size: 0.8em;
}
.i-top {
	margin-bottom: -30px;
}
