#keyboard {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	--keyboard-scale: 1;
}

#keyboard .keys {
	font-size: calc(var(--scale) * 30 * var(--keyboard-scale));
}
