.parking-slots {
	height: 800em;
	width: 1000em;

	background: var(--ground-1);
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	border-block: var(--slot-line-width) solid var(--road-line);

	/* position: absolute; */
	margin-bottom: 50em;
	margin-right: 50em;
	left: 0;
	top: 0;
}
.parking-slots-container {
	width: 100%;
	justify-content: space-between;
}
.slot-line {
	border-radius: 3em;
	width: var(--slot-line-width);
	height: var(--slot-height);
	background: var(--road-line);
}

.endline {
	width: 100%;
	background: var(--road-line);
	height: 20em;
	position: absolute;
}

.bottom-line {
	bottom: 0;
}

.slot {
	width: var(--slot-width);
	height: var(--slot-height);
}

.target {
	box-sizing: border-box;
	--shadow-thickness: 15em;
	content: 'PARK HERE';
	border: 10em solid transparent;
	color: var(--target-color);
	animation: target-blink 2s ease-in-out infinite;
	box-shadow: inset 0 0 0 var(--shadow-thickness) var(--target-color);
	align-items: flex-start;

	font-weight: 700;
}
.target p {
	font-size: 28.8em;
}

.bottom {
	align-items: flex-end;
}

@keyframes target-blink {
	0% {
		box-shadow: inset 0 0 0 var(--shadow-thickness) var(--target-color);
		color: var(--target-color);
	}
	40% {
		box-shadow: inset 0 0 0 var(--shadow-thickness) var(--target-color);
		color: var(--target-color);
	}
	70% {
		box-shadow: inset 0 0 0 var(--shadow-thickness) var(--target-color-blink);
		color: var(--target-color-blink);
	}
}

.parked {
	box-sizing: border-box;
	border: 20em solid hsla(100, 50%, 50%, 0.5);
}

/* Dummy car slots */
.parking-slots-dummy {
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	height: 800em;
	border: 1px solid green;
	display: grid;
	padding-inline: 20em;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(2, 240em);
	column-gap: 20em;
	row-gap: calc(100% - 480em);
	grid-template-areas: 's0 s1 s2 s3 s4' 's5 s6 s7 s8 s9';
}

.dummy-slot {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	grid-area: var(--dummy-slot);
}
