.parking-slots {
	height: 800em;
	width: 1000em;

	background: var(--ground-1);
	flex-direction: column;
	justify-content: space-between;
	position: relative;
	border-block: var(--slot-line-width) solid var(--road-line);

	/* position: absolute; */

	left: 0;
	top: 0;
}
.parking-slots-container {
	width: 100%;
	justify-content: space-between;
}
.slot-line {
	border-radius: 3em;
	width: var(--slot-line-width);
	height: var(--slot-height);
	background: var(--road-line);
}

.endline {
	width: 100%;
	background: var(--road-line);
	height: 20em;
	position: absolute;
}

.bottom-line {
	bottom: 0;
}

.target {
	--shadow-thickness: 15em;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	color: var(--target-color);
	animation: target-blink-text 2s ease-in-out infinite;
	align-items: flex-start !important;
	font-weight: 700;
}

.target::after {
	box-sizing: border-box;
	position: absolute;
	content: '';
	width: 100%;
	height: 100%;
	border: 10em solid transparent;
	box-shadow: inset 0 0 0 var(--shadow-thickness) var(--target-color);
	animation: target-blink-border 2s ease-in-out infinite;
}

.target p {
	margin-block: 1.5em;
	font-size: 28.8em;
}

.bottom {
	align-items: flex-end !important;
}

@keyframes target-blink-text {
	0% {
		color: var(--target-color);
	}
	40% {
		color: var(--target-color);
	}
	70% {
		color: var(--target-color-blink);
	}
}
@keyframes target-blink-border {
	0% {
		box-shadow: inset 0 0 0 var(--shadow-thickness) var(--target-color);
	}
	40% {
		box-shadow: inset 0 0 0 var(--shadow-thickness) var(--target-color);
	}
	70% {
		box-shadow: inset 0 0 0 var(--shadow-thickness) var(--target-color-blink);
	}
}

.parked {
	box-sizing: border-box;
	border: 20em solid hsla(100, 50%, 50%, 0.5);
}

/* Dummy car slots */
.parking-slots-dummy {
	box-sizing: border-box;
	position: absolute;
	width: 100%;
	height: 800em;
	display: grid;
	padding-inline: 20em;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(2, 240em);
	column-gap: 20em;
	row-gap: calc(100% - 480em);
}

.parking-slot {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

.parking-slot::after {
	position: absolute;
	content: '';
	border-radius: 3em;
	width: var(--slot-line-width);
	height: var(--slot-height);
	background: var(--road-line);
	right: calc(0px - var(--slot-line-width));
}

.parking-slot:nth-child(1)::before,
.parking-slot:nth-child(6)::before {
	position: absolute;
	content: '';
	border-radius: 3em;
	width: var(--slot-line-width);
	height: var(--slot-height);
	background: var(--road-line);
	left: calc(0px - var(--slot-line-width));
}
