.parking-slots {
	--parking-width: 1000px;
	--parking-height: 800px;
	--slot-line-width: 20px;
	--slot-height: 240px;
	--slots-count: 5;
	--slot-width: calc(
		var(--parking-width) / var(--slots-count) - var(--slot-line-width)
	);
	height: 800px;
	width: 1000px;

	background: var(--ground-1);
	flex-direction: column;
	justify-content: space-between;
	position: relative;
}
.parking-slots-container {
	width: 100%;
	justify-content: space-between;
}
.slot-line {
	border-radius: 3px;
	width: var(--slot-line-width);
	height: var(--slot-height);
	background: var(--road-line);
}

.endline {
	width: 100%;
	background: var(--road-line);
	height: 20px;
	position: absolute;
}

.bottom-line {
	bottom: 0;
}

.slot {
	width: var(--slot-width);
	height: var(--slot-height);
}
