body {
	/* Make sure to update display height variable in Dummy Car component and ParkingSlots component*/
	--display-height: 150em;
}
.top-bar {
	height: var(--display-height);
	top: calc(0em - var(--display-height));
	color: var(--road-line);
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.score-display {
	font-weight: 400;
	font-size: 80em;
	margin: 0;
	padding-inline: 0.5em;
}

.top-bar button {
	font-size: inherit;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: var(--ground-1);
	color: white;
	border: 15em solid var(--road-line);
	border-radius: 5em;
	font-weight: 500;
	width: 215em;
}

.top-bar button span {
	font-size: 29em;
}

.top-bar button:hover {
	color: var(--target-color);
	border: 15em solid var(--target-color);
}
